.signup-content {
    height: 100vh;
    padding-top: 50px;
}

.Container {
    padding: 10px 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.title-box {
    text-align: center;
    margin-bottom: 5px;
}

.title-one {
    color: grey;
}

.title-two {
    margin-bottom: 40px;
}

.agreement {
    font-weight: 400;
    font-size: 12px;
    color: grey;
}

.button {
    height: 60px;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 100%;
}

@media (max-width: 568px) {

}