.main-content {
    height: 100vh;
    padding-top: 50px;
}

.Container {
    padding: 10px 10px;
    background-color: white;
    justify-content: center;
    align-items: center;
}

.title-box {
    text-align: center;
    margin-bottom: 5px;
}

.title-one {
    color: grey;
}

@media (max-width: 568px) {

}