.header {
    padding: 0 50px;
    padding-top: 10px;
}

.header-dark {
    padding: 0 50px;
    background-color: #343a40 !important
}

@media (max-width: 568px) {
    .header, .header-dark {
        padding: 0;
    }
}